<!doctype html>
<html lang="en">
  <head>
  	<title>Fake Product Identification</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<style>
		.ftco-section {
			padding-top: 3em;
			padding-bottom: 3em;
			padding-left: 0;
			padding-right: 0;
		  }
	</style>

	</head>
	<body>
	<section class="ftco-section">
		<div class="container-fluid px-md-5">
			<div class="row justify-content-between">
				<div class="col-md-8 order-md-last">
					<div class="row">
						<div class="col-md-6 text-center">
							<a class="navbar-brand" href="/">Fake Product Identification <span>through Blockchain</span></a>
						</div>
						<div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
							<form action="#" class="searchform order-lg-last">
			          
			        </form>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex">
					<div class="social-media">
		    		
	        </div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid">
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item"><a href="/home" class="nav-link" style="font-size: 15px; font-weight:600;">Home</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->


	</section>
<style>
    body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}
.error-template {padding: 1px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
</style>
	<div class="container-fluid px-md-5">
		<div class="row justify-content-between">
			<div class="col-md-12 order-md-last">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="navbar-brand">
							<div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="error-template">
											<img src="./img/404-error.png" alt="" style="height: 200px;">
                                            <h2>
                                                Page Not Found</h2>
                                            <div class="error-details">
                                                Sorry, an error has occured, Requested page not found!
                                            </div>
                                            <div class="error-actions">
                                                <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                                                    Take Me Home </a><a href="/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
						</div>
					</div>
					<div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
					</div>
				</div>
			</div>
			<div class="col-md-4 d-flex">
				<div class="social-media">
				
		</div>
		
	</div>
	</section> 

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/web3.min.js"></script>
	<script src="js/truffle-contract.js"></script>
</body>
</html>