<!doctype html>
<html lang="en">
  <head>
  	<title>Fake Product Identification</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/wel.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container-fluid px-md-5">
			<div class="row justify-content-between">
				<div class="col-md-8 order-md-last">
					<div class="row">
						<div class="col-md-6 text-center">
							<a class="navbar-brand" href="/">Fake Product Identification <span>through Blockchain</span></a>
						</div>
						<div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
							<form action="#" class="searchform order-lg-last">
			          
			        </form>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex">
					<div class="social-media">
		    		
	        </div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid">
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item"><a href="/home" class="nav-link" style="font-size: 15px; font-weight:600;">Home</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->


	</section>

	<div class="container-fluid px-md-5">
		<div class="row justify-content-between">
			<div class="col-md-12 order-md-last">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="navbar-brand">
							<ul class="fly-in-text">
								<li class="hiddeen">W</li>
								<li class="hiddeen">E</li>
								<li class="hiddeen">L</li>
								<li class="hiddeen">C</li>
								<li class="hiddeen">O</li>
								<li class="hiddeen">M</li>
								<li class="hiddeen">E</li>
								<br><br>
								<a href="/home"><svg xmlns="http://www.w3.org/2000/svg" width="90" height="80" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
								</svg></i></a>
							</ul>
						</div>
					</div>
					<div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
						<form action="#" class="searchform order-lg-last">
				  
				</form>
					</div>
				</div>
			</div>
			<div class="col-md-4 d-flex">
				<div class="social-media">
				
		</div>
	</div>
	</section> 

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/web3.min.js"></script>
	<script src="js/truffle-contract.js"></script>
	<script>
		$(document).ready(function () {
			'use strict';
		  
			var texxt = $('ul li');
			texxt.removeClass('hiddeen');
		
		});
	</script>
    </body>
</html>