<!doctype html>
<html lang="en">
  <head>
  	<title>Fake Product Identification</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">

	</head>
	<body>
		<section class="ftco-section">
		<%- include('flash.ejs') %>
		<div class="container-fluid px-md-5">
			<center><p id="add_p" style="display: none;">Your address is <b id="add"></b></p></center>
			<p class="alert alert-danger alert-dismissible fade show col-6 offset-3 " id="message_p"><b id="message"></b></p>
			<div class="row justify-content-between">
				<div class="col-md-8 order-md-last">
					<div class="row">
						<div class="col-md-6 text-center">
							<a class="navbar-brand" href="/">Fake Product Identification <span>through Blockchain</span></a>
						</div>
						<div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
							<form action="#" class="searchform order-lg-last">
			          
			        </form>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex">
					<div class="social-media">
		    		
	        </div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid">
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item"><a href="/home" class="nav-link">Home</a></li>
				<li class="nav-item "><a href="/manufacturer" class="nav-link">Manufacturer</a></li>
				<% if (!currentUser) { %>
				<li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
				<li class="nav-item"><a href="/signup" class="nav-link">Signup</a></li>
				<% } %>
				<% if (currentUser) { %>
				<li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
				<% } %>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

	</section>

	<section>
		<div class="container">
			<div class="navbar-brand" style="display:inline-flex;">

				<a href="add_seller">
				<div class="card card1-img-overlay" style="width: 18rem; margin-right:35px;">
					<img class="card-img-top" src="img\addSeller.jpg" alt="Card image cap" style="height: 200px;">
					<div class="card-body">
					  <p class="card-text">Add Seller</p>
					</div>
				  </div>
				</a>

				<a href="add_product">
				  <div class="card card1-img-overlay" style="width: 18rem; margin-right:35px;">
					<img class="card-img-top" src="img\product.png" alt="Card image cap" style="height: 200px;">
					<div class="card-body">
					  <p class="card-text">Add Product</p>
					</div>
				  </div>
				  </a>

				  <a href="sell_product_manufacturer">
				  <div class="card card1-img-overlay" style="width: 18rem; margin-right:35px">
					<img class="card-img-top" src="img\sell.jpg" alt="Card image cap" style="height: 200px;">
					<div class="card-body">
					  <p class="card-text">Sell Product</p>
					</div>
				  </div>
				  </a>

				  <a href="query_seller">
					<div class="card card1-img-overlay" style="width: 18rem;">
					  <img class="card-img-top" src="img\query.png" alt="Card image cap" style="height: 200px;">
					  <div class="card-body">
						<p class="card-text">Query Seller</p>
					  </div>
					</div>
					</a>

	  </section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/web3.min.js"></script>
	<script src="js/truffle-contract.js"></script>
	<script src="js/index.js"></script>
</body>
</html>




